<div class="controls flex gap-10 space-between">
  <div class="flex gap-10">
    <div>Search</div>
    <form method="GET">
      <input name="q" autocomplete="off" value="<%= @query_param %>" />
    </form>
  </div>
  <div class="flex gap-10">
    Font size
    <select id="font-size">
      <% (12...30).each do |i| %>
        <option value="<%= i %>"><%= i %></option>
      <% end %>
    </select>
  </div>
</div>

<style>
  .controls {
    border: 1px solid #EEE;
    padding: 10px 15px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
  }
</style>

<script>
  window.onReady = function (func) {
    document.body.onload = func
  }

  function changeFontSize(size) {
    var table = document.querySelector("#entries-table");
    table.style.fontSize = size + "px";
  }

  function onFontSizeDropdownChange(size) {
    localStorage["font-size"] = size;
    changeFontSize(size);
  }

  document.querySelector("#font-size").addEventListener("change", function(size) {
    onFontSizeDropdownChange(this.value);
  });

  onReady(function() {
    var size = localStorage["font-size"] || 12;
    console.log(size);
    document.querySelector("#font-size").value = size;
    onFontSizeDropdownChange(size);
  })
</script>