<%= render "controls", query_param: @query_param %>

<br/>

<table id="entries-table">
  <thead>
    <tr>
      <th>Malayalam</th>
      <th>Kannada</th>
      <th>Tamil</th>
      <th>Telugu</th>
    </tr>
  </thead>
  <tbody>
    <% if false %>
      <% @entries.each do |entry| %>
        <tr>
          <td><%= entry.content %></td>
          <% entry.definitions.each do |definition| %>
            <td><%= definition.content %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    <%# <% if false %>
      <% @entries.each do |entry| %>
        <tr>
          <% Entry::LANGS.each do |lang| %>
            <td><%= entry.send(:"#{lang}_defintions")&.content %></td>
          <% end %>
        </tr>
      <% end %>
    <%# <% end %>
  </tbody>
</table>

<%= render "highlighter", query_param: @query_param %>

<br/>

<div class="digg_pagination pagination">
  <div class="page_info">
    <%= page_entries_info @entries %>
  </div>
  <%= will_paginate @entries, :container => false %>
</div>

<br/><br/>

<style>
  table {
    border-spacing: 0;
    width: 100%;
  }
  th {
    text-align: center;
  }
  th, td {
    border: 1px solid #000;
    margin: 0;
    padding: 5px 20px;
  }
  .pagination {
    display: table;
    text-align: center;
    margin: 20px auto;
  }
  .pagination .page_info {
    margin: 0 auto 10px;
  }
</style>